@source "../app/**/*.{js,jsx,ts,tsx}";
@source "../../../registry/**/*.{js,jsx,ts,tsx}";

@custom-variant dark (&:is(.dark *));
@custom-variant fixed (&:is(.layout-fixed *));

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    ::selection {
        @apply bg-selection text-selection-foreground;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }

    @supports (font: -apple-system-body) and (-webkit-appearance: none) {
        [data-wrapper] {
            @apply min-[1800px]:border-t;
        }
    }

    a:active,
    button:active {
        @apply opacity-60 md:opacity-100;
    }
}
