:root {
    /* Aspect ratios */
    --aspect-video:         16 / 9;
    --aspect-square:         1 / 1;
    --aspect-golden:     1.618 / 1;
    --aspect-4x3:            4 / 3;
    --aspect-16x9:          16 / 9;
    --aspect-21x9:          21 / 9;
    --aspect-9x16:           9 / 16;
    --aspect-9x21:           9 / 21;
    --aspect-1x1:            1 / 1;
    --aspect-16x10:         16 / 10;
    --aspect-10x16:         10 / 16;
}
