@theme inline {
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 2000px;

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-body: var(--body);
    --color-canvas: var(--canvas);
    --color-surface: var(--surface);
    --color-card: var(--card);
    --color-popover: var(--popover);
    --color-modal: var(--modal);
    --color-tooltip: var(--tooltip);

    --color-active: var(--active);
    --color-link: var(--link);
    --color-visited: var(--visited);
    --color-selection: var(--selection);
    --color-mark: var(--mark);
    --color-caret: var(--caret);

    --color-principal: var(--principal);
    --color-destructive: var(--destructive);
    --color-cautionary: var(--cautionary);
    --color-affirmative: var(--affirmative);
    --color-informative: var(--informative);

    --color-on-accented: var(--on-accented);
    --color-on-highlighted: var(--on-highlighted);
    --color-on-selected: var(--on-selected);
    --color-on-active: var(--on-active);
    --color-on-selection: var(--on-selection);
    --color-on-mark: var(--on-mark);
    --color-on-principal: var(--on-principal);
    --color-on-destructive: var(--on-destructive);
    --color-on-cautionary: var(--on-cautionary);
    --color-on-affirmative: var(--on-affirmative);
    --color-on-informative: var(--on-informative);

    --color-on-light: var(--on-light);
    --color-on-dark: var(--on-dark);

    --color-clear: var(--clear);
    --color-current: var(--current);
    --color-darkest: var(--darkest);
    --color-lightest: var(--lightest);
    --color-min-contrast: var(--min-contrast);
    --color-max-contrast: var(--max-contrast);
}
