:root {
    /* Shadows */
    --shadow-2xs: 0 1px var(--shadow-soft);
    --shadow-xs: 0 1px 2px var(--shadow-soft);
    --shadow-sm: 0 1px 3px 0 var(--shadow-soft), 0 1px 2px -1px var(--shadow-base);
    --shadow-md: 0 4px 6px -1px var(--shadow-soft), 0 2px 4px -2px var(--shadow-base);
    --shadow-lg: 0 10px 15px -3px var(--shadow-soft), 0 4px 6px -4px var(--shadow-base);
    --shadow-xl: 0 20px 25px -5px var(--shadow-soft), 0 8px 10px -6px var(--shadow-base);
    --shadow-2xl: 0 25px 50px -12px var(--shadow-soft);
}
