/*

 ████████╗ ██╗  ██╗ ███████╗ ███╗   ███╗ ███████╗
 ╚══██╔══╝ ██║  ██║ ██╔════╝ ████╗ ████║ ██╔════╝
    ██║    ███████║ █████╗   ██╔████╔██║ █████╗
    ██║    ██╔══██║ ██╔══╝   ██║╚██╔╝██║ ██╔══╝
    ██║    ██║  ██║ ███████╗ ██║ ╚═╝ ██║ ███████╗
    ╚═╝    ╚═╝  ╚═╝ ╚══════╝ ╚═╝     ╚═╝ ╚══════╝

The theme system organizes and defines variables for the fundamental aspects
of the interface: colors, layout, typography, styling, and motion.

Each section groups specific properties that enable the construction of coherent,
accessible, and adaptable visual experiences, making it easy to customize
and maintain a consistent visual identity throughout the application.

1. Settings
3. Layout
2. Tints
4. Fonts
4. Typography
2. Colors
5. Styling
6. Motion

*/

@import "tailwindcss/theme";

:root {
    --scheme:               light dark;
    --background:           var(--min-contrast);
    --foreground:           var(--key-contrast-900);
    --ambient:              var(--key-ambiental-600);

    --content:              var(--foreground);
    --controls:             var(--foreground);
    --accent:               var(--controls);
    --active:               var(--key-primary-500); /*okl*/
    --decoration:           var(--accent);
    --indication:           var(--key-cautionary-500); /*okl*/
    --state:                var(--ambient);
    --scrim:                var(--ambient);
    --backdrop:             var(--ambient);
    --shadow:               var(--ambient);
    --inverse:              var(--background);

    /* Backgrounds */
    --body:                 var(--background);
    --canvas:               var(--background);
    --muted:                color-mix(in hsl, var(--ambient) 8%, transparent);
    --silent:               color-mix(in hsl, var(--ambient) 4%, transparent);
    /* Surfaces */
    --surface:              var(--min-contrast);
    --card:                 var(--surface);
    --dropdown:             var(--surface);
    --popover:              var(--surface);
    --modal:                var(--surface);
    --tools:                var(--content);

    /* Content */
    --display:              hsl(var(--ambient));
    --heading:              hsl(var(--content));
    --text:                 color-mix(in hsl, var(--content) 90%, transparent);
    --text-subtle:          color-mix(in hsl, var(--content) 70%, transparent);
    --text-muted:           color-mix(in hsl, var(--content) 40%, transparent);
    --text-disabled:        color-mix(in hsl, var(--content) 30%, transparent);
    --text-hint:            color-mix(in hsl, var(--content) 30%, transparent);
    --text-silent:          color-mix(in hsl, var(--content) 10%, transparent);
    --icon:                 var(--text);
    --icon-subtle:          var(--text-subtle);
    --icon-muted:           var(--text-muted);
    --icon-disabled:        var(--text-disabled);
    --icon-hint:            var(--text-hint);
    --icon-silent:          var(--text-silent);
    --border:               color-mix(in hsl, var(--foreground) 10%, transparent);
    --divider:              var(--border);
    --line:                 color-mix(in hsl, var(--foreground) 5%, transparent);
    --rule:                 color-mix(in hsl, var(--foreground) 20%, transparent);
    /* Controls */
    --outline:              color-mix(in hsl, var(--controls) 20%, transparent);
    --track:                color-mix(in hsl, var(--controls) 10%, transparent);
    --input:                color-mix(in hsl, var(--controls) 0%, transparent);
    --option:               var(--input);
    --button:               color-mix(in hsl, var(--controls) 10%, transparent);
    --thumb:                var(--button);
    --accented:             color-mix(in hsl, var(--accent) 90%, transparent);
    --highlighted:          color-mix(in hsl, var(--accent) 6%, transparent);
    --selected:             color-mix(in hsl, var(--accent) 10%, transparent);
    /* Interactivity */
    --caret:                var(--accent);
    --selection:            var(--accent);
    --link:                 var(--active);
    --visited:              color-mix(in hsl, var(--active) 80%, transparent);
    --ring:                 color-mix(in hsl, var(--active) 50%, transparent);
    --mark:                 color-mix(in hsl, var(--indication) 80%, transparent);
    --target:               var(--mark);
    --search-text:          var(--target);
    --search-current:       var(--target);
    /* States */
    --state-hovered:        color-mix(in hsl, var(--state) 8%, transparent);
    --state-focused:        color-mix(in hsl, var(--state) 12%, transparent);
    --state-pressed:        color-mix(in hsl, var(--state) 16%, transparent);
    --state-dragging:       color-mix(in hsl, var(--state) 16%, transparent);
    /* Overlays */
    --scrim-hard:           color-mix(in hsl, var(--scrim) 50%, transparent);
    --scrim-base:           color-mix(in hsl, var(--scrim) 30%, transparent);
    --scrim-soft:           color-mix(in hsl, var(--scrim) 10%, transparent);
    --backdrop-hard:        color-mix(in hsl, var(--backdrop) 80%, transparent);
    --backdrop-base:        color-mix(in hsl, var(--backdrop) 60%, transparent);
    --backdrop-soft:        color-mix(in hsl, var(--backdrop) 20%, transparent);
    /* Shadows */
    --shadow-hard:          color-mix(in hsl, var(--shadow) 15%, transparent);
    --shadow-base:          color-mix(in hsl, var(--shadow) 10%, transparent);
    --shadow-soft:          color-mix(in hsl, var(--shadow) 5%, transparent);

    /* Functional colors */
    --primary:              var(--key-primary-500);
    --secondary:            var(--key-secondary-500);
    --tertiary:             var(--key-tertiary-500);
    --destructive:          var(--key-destructive-500);
    --cautionary:           var(--key-cautionary-500);
    --affirmative:          var(--key-affirmative-500);
    --informative:          var(--key-informative-500);

    /* On colors */
    --on-light:             var(--content);
    --on-dark:              var(--inverse);
    --on-accented:          var(--on-dark);
    --on-highlighted:       var(--on-light);
    --on-selected:          var(--on-light);
    --on-active:            var(--on-dark);
    --on-selection:         var(--on-dark);
    --on-mark:              var(--on-light);
    --on-primary:           var(--on-dark);
    --on-destructive:       var(--on-dark);
    --on-cautionary:        var(--on-dark);
    --on-affirmative:       var(--on-dark);
    --on-informative:       var(--on-dark);

    --spacing:              0.25rem;
    --radius:               0.625rem;
    --shape:                var(--shape-rect);

    --border-width:         1px;
    --outline-width:        1px;
    --ring-width:           3px;
    --font-size:            16px;
    --font-scale:           var(--ratio-major-second);
    --font-heading:         var(--font-family-sans);
    --font-body:            var(--font-family-sans);
    --font-code:            var(--font-family-mono);

    /* Display */
    --text-display-1:       var(--scale-text-650);
    --text-display-2:       var(--scale-text-550);
    --text-display-3:       var(--scale-text-450);
    /* Heading */
    --text-headline:        var(--scale-text-400);
    --text-subhead:         var(--scale-text-350);
    --text-title:           var(--scale-text-300);
    --text-subtitle:        var(--scale-text-250);
    /* Copy */
    --text-lead:            var(--scale-text-150);
    --text-body:            var(--scale-text-100);
    /* UI */
    --text-base:            var(--scale-text-075);
    --text-small:           var(--scale-text-050);
    --text-micro:           var(--scale-text-025);
    /* Utilities */
    --text-overline:        var(--text-base);
    --text-caption:         var(--text-overline);
    --text-footnote:        var(--text-caption);
    --text-hint:            var(--text-caption);
    /* Fields */
    --text-label:           var(--text-base);
    --text-input:           var(--text-body);
    --text-button:          var(--text-body);
    --text-input-xs:        var(--text-small);
    --text-input-sm:        var(--text-label);
    --text-input-lg:        var(--text-lead);
    --text-button-xs:       var(--text-small);
    --text-button-sm:       var(--text-label);
    --text-button-lg:       var(--text-lead);

    /* Icons */
    --icon-size-micro:      0.5rem;    /* 8px */
    --icon-size-small:      0.75rem;   /* 12px */
    --icon-size-base:       1rem;      /* 16px */
    --icon-size-medium:     1.25rem;   /* 20px */
    --icon-size-large:      1.5rem;    /* 24px */
    --icon-size-title:      2rem;      /* 32px */
    --icon-size-display:    4rem;      /* 80px */

    /* Shapes */
    --border-width-muted:   var(--border-width);
    --border-width-active:  var(--border-width);
    --border-style:         solid;
    --border-style-muted:   dashed;
    --border-style-active:  solid;
    /* Dividers */
    --divider-width:        var(--border-width);
    --line-width:           var(--divider-width);
    --rule-width:           var(--divider-width);
    --divider-style:        var(--border-style);
    --line-style:           var(--divider-style);
    --rule-style:           var(--divider-style);
    /* Outline & Ring */
    --outline-offset:       0px;
    --ring-offset:          2px;


    /* Shadows */
    --shadow-button:        var(--shadow-2xs);
    --shadow-input:         var(--shadow-xs);
    --shadow-card:          var(--shadow-sm);
    --shadow-modal:         var(--shadow-md);
    --shadow-popover:       var(--shadow-lg);
    --shadow-modal:         var(--shadow-xl);
    --shadow-tools:         var(--shadow-2xl);
    /* Opacity values */
    --opacity-disabled:     var(--opacity-low);
    --opacity-hover:        var(--opacity-medium);
    --opacity-focus:        var(--opacity-high);
    /* Transitions */
    --duration-hover:       var(--duration-normal);
    --duration-rest:        var(--duration-fast);
    --duration-focus:       var(--duration-fast);
    --duration-active:      var(--duration-fast);
    --duration-pressed:     var(--duration-fast);
    --duration-disabled:    var(--duration-fast);
    /* Animations */
    --duration-open:        var(--duration-normal);
    --duration-close:       var(--duration-fast);
    /* State scale ratios */
    --transform-hover:      scale(var(--scale-enlarge));
    --transform-hover-soft: scale(var(--scale-enlarge-soft));
    --transform-active:     scale(var(--scale-shrink));
    --transform-pressed:    scale(var(--scale-shrink-strong));

    /* Layout */
    --breakpoint-xs:         480px;
    --breakpoint-sm:         640px;
    --breakpoint-md:         768px;
    --breakpoint-lg:        1024px;
    --breakpoint-xl:        1280px;
    --breakpoint-2xl:       1440px;
    --breakpoint-3xl:       1536px;
}

.dark {
    --scheme: dark;

    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
}
