/*
{
    id: 'texture-dusted',
    cssFile: 'texture-dusted.css',
    name: 'Texture Dusted',
    description: 'Dramatic texture text effect with dusted',
    category: 'Special',
    tags: ['texture', 'dramatic', 'rusted'],
    bestFor: ['body', 'heading', 'display'],
    previewText: 'Dusted',
    usesData: true,
    background: '#000000',
},
*/

.text-texture-dusted {

    & {
        --style-fill-color: #858585;
        --style-tint-color: #ffc2c2;
        --style-text-color: #412020;
    }

    & {
        position: relative;
        z-index: 0;
        background: black;
        filter: brightness(150%) contrast(1.3) blur(1px);
        mix-blend-mode: color-dodge;
        padding-inline: 0.06em;
        color: var(--style-text-color);
    }

    &:after,
    &:before {
        content: attr(data-text);
        position: absolute;
        left: 0;
        padding-inline: 0.06em;
    }

    &:after {
        z-index: 1;
        color: var( --style-tint-color);
        filter: blur(0.06em);

    }

    &:before {
        z-index: 2;
        color: var(--style-fill-color);
        mix-blend-mode: color-burn;
    }

}

.dark .text-texture-dusted {
    mix-blend-mode: lighten;
}