:root {
    --scheme: light dark;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: rgb(0, 0, 0);

}

.dark {
    --scheme: dark;
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
}
