:root {
  color-scheme: light dark;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  color-scheme: dark;
  --background: orange;
  --foreground: oklch(0.985 0 0);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    color-scheme: dark;
  }
}