/*
{
    id: 'texture-glowing',
    cssFile: 'texture-glowing.css',
    name: 'Texture Glowing',
    description: 'Dramatic texture text effect with glowing',
    category: 'Special',
    tags: ['texture', 'dramatic', 'glowing'],
    bestFor: ['body', 'heading', 'display'],
    previewText: 'Glowing',
    usesData: true,
    background: '#000000',
},
*/

.text-texture-glowing {

    & {
        --style-fill-color: #c7a0a0;
        --style-tint-color: #192035;
    }

    & {
        position: relative;
        z-index: 0;
        filter: brightness(150%) contrast(1.3) blur(1px);
        mix-blend-mode: color-dodge;
        padding-inline: 0.06em;
    }

    &:after,
    &:before {
        content: attr(data-text);
        position: absolute;
        left: 0;
        padding-inline: 0.06em;
    }

    &:after {
        z-index: 1;
        color: var( --style-fill-color);
        filter: blur(0.06em) brightness(1.2);

    }

    &:before {
        z-index: 2;
        color: var(--style-tint-color);
        mix-blend-mode: color-burn;
    }

}

/*
.dark .text-texture-glowing {
    mix-blend-mode: lighten;
}
*/